* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --cor--preto: #000000;
  --cor--branco: #ffffff;
  --cor--amarelo: #ffed00;
  --font--family: "Outfit", sans-serif;
}

body {
  padding: 20px;
  color: var(--cor--branco);
  background: var(--cor--preto);
}

p,
a,
h1,
h2,
span {
  font-family: var(--font--family);
}

input::placeholder {
  color: var(--cor--branco);
  font-family: var(--font--family);
  font-size: 16px;
  font-weight: 400;
}

.programs::-webkit-scrollbar, .cards-merch::-webkit-scrollbar {
  width: 0px;
}

.icon {
  width: 87px;
  cursor: pointer;
  display: flex;
}

.grid-container {
  max-width: 1400px;
  margin: 0 auto;
  background: var(--background--color);
  color: var(--color--text);
  -webkit-font-smoothing: antialiased;
}

ul {
  list-style: none;
}

.menu {
  justify-content: space-between;
  align-items: center;
  display: flex;
  padding: 4rem 1rem 4rem 1rem;

  background: var(--box--amarelo);
}

.menu ul {
  display: flex;
  gap: 20px;
}

.menu li a {
  display: block;
  padding: 10px;
  color: var(--cor--branco);
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 0.1em;
}

h1 {
  color: #ffffff;
}

.title {
  margin-top: 55px;
  margin-bottom: 32px;
  font-family: var(--font--family);
  font-weight: 300;
  font-size: 5rem;
  max-width: 550px;
  width: 100%;
}

.title_bold {
  font-weight: 700;
}

.grid-section {
  width: 100%;
  /* display: grid;
  box-sizing: border-box;
  grid-template-columns: 1.3fr 2fr; */
  margin-bottom: 3rem;
}

.banner {
  justify-content: center;
  display: flex;
  gap: 80px;
}

.banner_home {
  width: 100%;
}

.btn_banner {
  cursor: pointer;
  margin-top: 40px;
  background: var(--cor--preto);
  color: var(--cor--branco);
  width: 200px;
  height: 52px;
  border-radius: 20px;
  border: 2px solid var(--cor--amarelo);
  font-size: 20px;
  font-weight: 600;
  transition: 0.5s;
}

.btn_banner:hover {
  background: var(--cor--amarelo);
  color: var(--cor--preto);
  border: none !important;
}

.link {
  position: relative;
  overflow: hidden;
}

.link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--cor--branco);
  transition: width 0.5s;
}

.link:hover::after {
  width: 100%;
  transform: translateX(0%);
}

.container {
  margin-top: 40px;
}

.workoutPrograms h2 {
  font-size: 36px;
  margin-bottom: 40px;
}

.title_programs {
  font-size: 36px;
}

.programs {
  margin: 80px auto ;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  position: relative;
}

.hover_image {
  overflow: hidden;
  position: relative;
}

.black_over:hover {
  opacity: 0.3;
}

.black_over {
  transition: opacity 0.2s;
  opacity: 0.8;
  width: 100%;
  max-height: 494px;
  height: 100%;
  top: 0;
  right: 0;
  display: block;
  position: absolute;
  background-color: #000000;
}

.trainer span {
  position: absolute;
  display: flex;
  top: 45%;
  left: -70px;
  width: 352px;
  font-weight: bold;
  transform: rotate(-90deg);
  opacity: 1;
  font-size: 32px;
}

.merch-container {
  margin-bottom: 100px;
}

.merch, .recipes-header {
  margin-bottom: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn_view {
  margin-top: 0;
}

.merch h2, .recipes-header h2 {
  font-weight: 600;
  font-size: 28px;
  color: var(--cor--amarelo);
}

.cards-merch {
  display: flex;
  justify-content: space-between;
}

.cards-merch, .programs   {
  overflow-x: scroll;
}

.programs, .cards-merch {
  scrollbar-width: none;

}

.card-hover p {
  font-weight: 400;
  z-index: -1;
  font-size: 24px;
  padding: 80px 20px 20px;
  transition: 0.5s;
  transform: translateY(-70px);
  display: flex;
  background: #3b3b3b;
  justify-content: center;
}

.card {
  transition: 0.5s;
  cursor: pointer;
  width: 100%;
  max-width: 314px;
}

.card-hover img {
  position: relative;
  transition: 0.5s;
  z-index: 10;
  margin: 0 auto;
  display: flex;
  max-width: 218px;
  height: 280px;
  object-fit: none;
}

.card-hover {
  margin: 15px auto;
  cursor: pointer;
  width: 100%;
  position: relative;
  max-width: 314px;
}

.card-hover:hover p {
  padding-top: 120px;
  transform: translateY(-60%);
}

.card-hover:hover img {
  transform: translateY(-5%);
}

.gallery-container {
  margin-bottom: 80px;
}

.gallery-container h2 {
  font-weight: 600;
  font-size: 28px;
  margin-bottom: 40px;
  color: var(--cor--amarelo);
}

.gallery-photos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 40px;
}

.gallery-photos img {
  width: 100%;
  max-width: 400px;
  cursor: pointer;
  border-radius: 40px;
}

.hover_image p {
  position: absolute;
  display: flex;
  top: 45%;
  justify-content: center;
  width: 100%;
  font-size: 24px;
}

.gallery-photos .black_over {
  cursor: pointer;
  transition: opacity 0.2s;
  opacity: 0;
  width: 100%;
  max-height: 494px;
  height: 100%;
  top: 0;
  right: 0;
  display: block;
  position: absolute;
  background-color: #000000;
}

.gallery-photos .hover_image:hover .black_over,
.recipes:hover .black_over {
  opacity: 0.7;
}

.recipes-container {
  display: flex;
  justify-content: space-between;
}

.box-packed {
  display: flex;
}

.recipes-box {
  margin-left: 43px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 40px;
  max-width: 407px;
  width: 100%;
}

.recipes-box h2 {
  font-size: 32px;
  font-weight: bold;
}

.recipes-box p {
  max-width: 330px;
  width: 100%;
  font-size: 18px;
  font-weight: 400;
}

.recipes-container ul li {
  display: flex;
  align-items: center;
  max-width: 450px;
  width: 100%;
  margin-bottom: 20px;
}

.recipes-container li p {
  margin-left: 30px;
}

.recipes-container li img {
  cursor: pointer;
  width: 100%;
  max-width: 119px;
  border-radius: 15px;
}

.recipes {
  position: relative;
}

.recipes-header{
  gap: 20px;
}

.recipes .black_over p {
  align-items: center;
  display: flex;
  margin: 0 auto;
}

.recipes .black_over {
  cursor: pointer;
  transition: opacity 0.2s;
  opacity: 0;
  max-width: 120px;
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  background-color: #000000;
}

.contact-container {
  align-items: center;
  display: flex;
  column-gap: 253px;
  justify-content: space-between;
}

.contact h2 {
  color: var(--cor--amarelo);
}

.contact p {
  text-align: left;
  margin-top: 40px;
  max-width: 902px;
  width: 100%;
}

.box-contact {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 100%;
}

.contact-container img {
  width: 100%;
  border-radius: 25px;
}

.box-contact input {
  /* width: 100%; */
  outline: none;
  cursor: pointer;
  background: transparent;
  padding: 20px;
  height: 70px;
  border: 2px solid var(--cor--amarelo);
  border-radius: 25px;
  color: var(--cor--branco);
}

.box-contact input:nth-child(3) {
  height: 166px;
}

footer {
  margin-bottom: 80px;
}

.copy .copy-autoral {
  max-width: 800px;
  padding: 0 20px 0;
  display: flex;
  margin: 0 auto;
  margin-bottom: 2rem;
  background: var(--box--amarelo);
  text-align: center;
}

.icon-copy {
  display: flex;
  margin: 80px auto;
  margin-bottom: 2rem;
  width: 138px;
}

@media (max-width: 1200px) {
  .menu ul {
    display: none;
  }

  .menu {
    padding: 1rem 1rem 4rem 1rem;
  }

  .banner {
    gap: 0px;
    flex-direction: column-reverse;
  }

  .title {
    font-size: 3.6rem;
  }

  .recipes-container {
    flex-direction: column;
  }

  .box-packed img {
    display: none;
  }

  .recipes-box {
    margin-bottom: 40px;
  }

  .contact-container {
    flex-direction: column-reverse;
    row-gap: 40px;
  }

  .cards-merch, .programs {
    gap: 40px;
  }

  .card-hover p{
    width: 314px;
  }

  .recipes-box {
    margin-left: 0;
  }

  .btn_banner{
    font-size: 14px;
  }

  .gallery-photos img {
    max-width: 400px;
  }
}
