* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --cor--preto: #000000;
  --cor--branco: #ffffff;
  --cor--amarelo: #FFED00;
  --font--family: "Outfit", sans-serif;
}

body {
  color: var(--cor--branco);
  background: var(--cor--preto);
}

p,
a,
h1,
h2,
span {
  font-family: var(--font--family);
}

.grid-container {
  max-width: 1400px;
  margin: 0 auto;
  background: var(--background--color);
  color: var(--color--text);
  -webkit-font-smoothing: antialiased;
}

.nav-container {}

ul {
  list-style: none;
}

.menu {
  justify-content: space-between;
  align-items: center;
  display: flex;
  padding: 4rem 1rem 4rem 1rem;

  background: var(--box--amarelo);
}

.menu ul {
  display: flex;
  padding: 10px;
  gap: 20px;
}

.menu li a {
  display: block;
  padding: 10px;
  color: var(--cor--branco);
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 0.1em;
}

h1 {
  color: #ffffff;
}

.title {
  margin-top: 55px;
  margin-bottom: 32px;
  font-family: var(--font--family);
  font-weight: 300;
  font-size: 5rem;
  max-width: 550px;
  width: 100%;
}

.title_bold {
  font-weight: 700;
}

.grid-section {
  width: 100%;
  padding: 20px;
  /* display: grid;
  box-sizing: border-box;
  grid-template-columns: 1.3fr 2fr; */
  margin-bottom: 3rem;
}

.banner {
  justify-content: center;
  display: flex;
  gap: 80px;
}

.banner_home {
  width: 100%;
}

.btn_banner {
  cursor: pointer;
  margin-top: 40px;
  background: var(--cor--preto);
  color: var(--cor--branco);
  width: 200px;
  height: 52px;
  border-radius: 20px;
  border: 2px solid var(--cor--amarelo);
  font-size: 20px;
  font-weight: 600;
  transition: 0.5s;
}

.btn_banner:hover {
  background: var(--cor--amarelo);
  color: var(--cor--preto);
  border: none !important;
}

.copy {
  grid-column: 2/3;
  margin-bottom: 2rem;
  background: var(--box--amarelo);
  text-align: center;
}

.icon {
  width: 87px;
  cursor: pointer;
  display: flex;
}

.icon-copy {
  display: flex;
  margin: 0 auto;
  margin-bottom: 2rem;
  width: 138px;
}

.link {
  position: relative;
  overflow: hidden;
}

.link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--cor--branco);
  transition: width 0.5s;
}

.link:hover::after {
  width: 100%;
  transform: translateX(0%);
}

.workoutPrograms h2 {
  font-size: 36px;
  margin-bottom: 40px;
}

.title_programs {
  font-size: 36px;
}

.programs {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  position: relative;
}

.hover_image {
  overflow: hidden;
  position: relative;
}

.black_over:hover {
  opacity: .3;
}

.black_over {
  transition: opacity .2s;
  opacity: .8;
  width: 100%;
  max-height: 494px;
  height: 100%;
  top: 0;
  right: 0;
  display: block;
  position: absolute;
  background-color: #000000;
}

.trainer span {
  position: absolute;
  display: flex;
  top: 45%;
  left: -70px;
  width: 352px;
  font-weight: bold;
  transform: rotate(-90deg);
  opacity: 1;
  font-size: 32px;
}

@media(max-width: 1200px) {
  .menu ul {
    display: none;
  }

  .banner {
    flex-direction: column-reverse;
  }

  .title {
    font-size: 3.6rem;
  }
}